<?xml version="1.0" encoding="utf-8"?>
<!-- A VPN for the emulator tests of the Tailscale-off notice: like
     Tailscale's, it routes only 100.64.0.0/10 (README.md). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.orgtree.hubchat.vpntest" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
    <application android:label="Hubchat test VPN">
        <activity android:name=".Main" android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service android:name=".Vpn" android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter><action android:name="android.net.VpnService" /></intent-filter>
        </service>
    </application>
</manifest>
